@import url('reset.css');

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

nav h1 {
    font-size: 2em;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 10px;
}