@import url('reset.css');

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

nav h1 {
    font-size: 2.5em;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 10px;
}

a:not(.logo):hover {
    color: #646cff;
    text-decoration: underline;
}