body {
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

header h1 {
    font-size: 35px;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: 240px 1fr;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav li a {
    text-decoration: none;
    color: #333;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-thumbnail {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;  /*これで16:9にできる*/
    background-color: #ddd;
    border-radius: 20px;
    margin-bottom: 12px;
}